<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="static/css/slots.css" rel="stylesheet" type="text/css">
	<title>Offers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Pacifico&display=swap" rel="stylesheet">
</head>  
<body>
    
<div class="slot row">
    <img src="{{image}}" class="slot-img">
    <div class="slot-text">
        <div class="slot-name">{{name}}</div>
        <div class="row">
            <div class="slot-price">${{price}}</div>
            <div class="slot-colors">{{colors}}</div>
        </div>
    </div>
</div>
    
</body>
</html>